<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Website POC</title>
</head>
<body>
  <div id="root"><%- alert  %></div>
  <div id="root2"><%- alert2  %></div>
  <script src="/dist/main.js"></script>
</body>
</html>
